
body.home-page {
    overflow: hidden;
}

@media (max-width: 600px) {
    body.home-page {
        overflow: auto;
    }
}

#videoMain {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

#text_animation {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-cursor {
    position: relative;
    display: inline-block;
    width: max(2vw, 10px);
    height: max(3.5vw, 10px);
    background-color: white;
}

@keyframes blink {
    0% { opacity: 1; }
    40% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}

.input-cursor {
    animation: blink .6s linear infinite alternate;
}

span {
    font-size: max(3vw, 10px);
    font-family: "Arial", sans-serif, Sans-serif;
    text-shadow: 1.5px 1.5px #000000;
    color: white;
}

#zaiskri {
    color: #a52036;
    font-weight: bold;
    display: inline;
}
